<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gogolo</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" href="../static/kitty.jpg">
</head>
<body>
    <div id="logo">
        <a href="/" style="text-decoration: none">
            <span style='color: #1313e4'>G</span>
            <span style='color: #ea0909'>o</span>
            <span style='color: #e8dc29'>g</span>
            <span style='color: #1313e4'>o</span>
            <span style='color: #018001'>l</span>
            <span style='color: #ea0909'>o</span>
        </a>
    </div>
     <div id="searchbar">
        <form id="searchform" action="/query/" method="get">
            <label for="query"></label>
            <input type="text" id="query" name="query" required><br><br>
            <input id="submitButton" type="submit" value="Search">
        </form>
     </div>
</body>
</html>